---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/charmander/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"41d51-l6GgmJFkLmzX+OattfDssD5mX/0"
      Function-Execution-Id:
      - uu6ngfasjw4x
      X-Cloud-Trace-Context:
      - d82cfd472ba5659f5ccb7860efb9ac3b
      X-Country-Code:
      - US
      X-Orig-Accept-Language:
      - nl-NL,nl;q=0.9,en-US;q=0.8,en;q=0.7,fr;q=0.6
    body:
      encoding: ASCII-8BIT
      string: '{"abilities":[{"ability":{"name":"blaze","url":"https://pokeapi.co/api/v2/ability/66/"},"is_hidden":false,"slot":1},{"ability":{"name":"solar-power","url":"https://pokeapi.co/api/v2/ability/94/"},"is_hidden":true,"slot":3}],"base_experience":62,"cries":{"latest":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/4.ogg","legacy":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/legacy/4.ogg"},"forms":[{"name":"charmander","url":"https://pokeapi.co/api/v2/pokemon-form/4/"}],"game_indices":[{"game_index":176,"version":{"name":"red","url":"https://pokeapi.co/api/v2/version/1/"}},{"game_index":176,"version":{"name":"blue","url":"https://pokeapi.co/api/v2/version/2/"}},{"game_index":176,"version":{"name":"yellow","url":"https://pokeapi.co/api/v2/version/3/"}},{"game_index":4,"version":{"name":"gold","url":"https://pokeapi.co/api/v2/version/4/"}},{"game_index":4,"version":{"name":"silver","url":"https://pokeapi.co/api/v2/version/5/"}},{"game_index":4,"version":{"name":"crystal","url":"https://pokeapi.co/api/v2/ve[...]
- request:
    method: get
    uri: https://api.pokemontcg.io/v2/cards?q=!name:charmander
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7b6bc973960acb2c47a38c142a2fd0f5"
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJkYXRhIjpbeyJpZCI6ImRldDEtNCIsIm5hbWUiOiJDaGFybWFuZGVyIiwic3VwZXJ0eXBlIjoiUG9rw6ltb24[...]
